/.venv*/
__pycache__
*.py[cod]
*$py.class
*.so
.idea/
*.iml
/.pytest_cache/
/.logs/
.~lock.*
.ipynb_checkpoints
*.pdf
*.mp3
config/*.keys
kata/papers/*
kata/*.log
kata/compatibility.json
*/db/*
data/topics/*
data/queries/*
data/trade_decision.csv
reviewing/data/tmp/*
data/misc_non_essential/*
logs/*
lokal_tmp
